.app__projects {
  padding: 4rem 0;
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);

  &-container {
    width: 80%;
    margin: 0 auto;

    > h2 {
      font-size: 3.75rem;
      font-weight: 800;
      margin-bottom: 2rem;
      text-align: center;
    }

    &_projects {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      > .card {
        transition: all 500ms ease;
        max-width: 350px;
        min-height: 350px;

        @media (min-width: 992px) {
          &:hover {
            transform: scale(105%);
          }
        }

        img {
          width: 100%;
          object-position: 100% 0%;
        }

        > .card-button {
          padding: 1.25rem;
        }
      }
    }

    &_certificate {
      margin-top: 5rem;

      > h2 {
        font-size: 3.75rem;
        font-weight: 800;
        margin-bottom: 2rem;
        text-align: center;

        @media (max-width: 500px) {
          font-size: 2.75rem;
        }
      }

      &-cert {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        > .card__modal {
          position: fixed;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.4);
          z-index: 9;

          .cert-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 100%;

            img {
              width: 80%;
              height: 90%;

              @media (max-width: 600px) {
                object-fit: contain;
              }
            }
          }
        }

        > .card__certificate {
          max-width: 350px;
          min-height: 300px;
          border-radius: 0.25rem;
          padding: 1rem;
          background-color: white;
          transition: all 500ms ease;

          @media (min-width: 992px) {
            cursor: pointer;
            &:hover {
              transform: scale(105%);
            }
          }

          img {
            width: 100%;
            min-height: 275px;
          }
        }
      }
    }
  }
}
