.app__skills {
  padding: 4rem 0;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

  &-title {
    width: 80%;
    margin: 0 auto;

    &_title {
      font-size: 3.75rem;
      font-weight: 800;

      @media (max-width: 500px) {
        font-size: 3rem;
      }
    }

    &_content {
      line-height: 1.6;
      color: #555;
      width: 50%;
      font-size: 1.15rem;

      @media (max-width: 992px) {
        width: 100%;
      }

      @media (max-width: 768px) {
        font-size: 1rem;
      }

      @media (max-width: 500px) {
        font-size: 0.875rem;
      }
    }
  }

  &-container {
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;

    @media (max-width: 992px) {
      flex-direction: column;
    }

    &_skills {
      flex: 1;
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 1.25rem;

      @media (max-width: 500px) {
        gap: 1rem;
      }

      &-card {
        background-color: #f5f6f7;
        border-radius: 0.25rem;
        padding: 1rem;
        transition: all 500ms ease;

        @media (min-width: 992px) {
          &:hover {
            transform: scale(110%);
          }
        }

        @media (max-width: 1100px) {
          width: 130px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @media (max-width: 768px) {
          width: 110px;
        }

        @media (max-width: 500px) {
          width: 90px;
        }

        @media (max-width: 400px) {
          padding: 0.5rem;
          width: 60px;
        }

        > img {
          height: 100px;
          width: 100px;

          // @media (max-width: 1150px) {
          //   width: 70px;
          //   height: 70px;
          // }

          @media (max-width: 500px) {
            width: 50px;
            height: 50px;
          }

          @media (max-width: 400px) {
            width: 40px;
            height: 40px;
          }
        }

        &_text {
          border-top: 1px #efe9ee solid;
          text-align: center;
          padding-top: 10px;
          font-weight: 500;
          color: #555;
          overflow: hidden;

          @media (max-width: 500px) {
            font-size: 14px;
          }

          @media (max-width: 400px) {
            font-size: 10px;
          }
        }
      }
    }

    &_image {
      width: 100%;
      flex: 1;
    }
  }
}

@media (min-width: 992px) {
  .multidevice {
    width: 50%;
    margin: 0 auto;
  }
}
