@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@600;700;800&display=swap");

:root {
  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-orange: linear-gradient(#ff9883, #fff6a1);
  --color-main: #151b54;
  --color-primary: #342d7e;
  --color-secondary: #4e5180;
}

.app__gradient-text {
  background: var(--gradient-text);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app__gradient-orange {
  background: var(--gradient-orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app__links {
  text-decoration: underline;
  color: blue;
}
